@media screen and (max-width:640px) {
    .footer-container{
        /* margin-top: 100px; */
        /* height: 50%; */
        background-color: #fff;
        padding-bottom: 0;
    }
    .footer-container > h1{
        font-size: 30px;
        padding-top: 0px;
        padding-bottom: 0;
    }
    .footer-container > h2{
        font-weight: 600;
        font-size: 15px;
        
        color: #000;
    }
}

