@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box; 
}
body{
  font-family: Montserrat;
  /* overflow-y: hidden; */
}
/* Navigation Bar */
nav{
  background-color: #242B2E;
  /* border: 1px solid #000000; */
  cursor: default;
  position: fixed;
  top:0;
  width: 100%;
}
/* Nav Container */
.navContainer{
  width: 100%;
  padding: 0 15px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
/* (Logo Text) Written Within  nav-item-1 */
.nav-item-1 h2{

  color: #0071E0;
  font-size: 20px;
  font-weight: bold;

}
/* Navigation Link Container Within nav-item-2 */
nav ul{
  display: flex;
  justify-content: space-evenly;
  
  gap: 15px;
}
/* Navigation Links Stylings */
nav ul li{
  display: inline;
  list-style: none;
}
/* Navigation Links Anchor Tag Styling */
nav a{
  text-decoration: none;
  color: #fff;
}

/* Button Within Nav-Item-3 */
.nav-item-3 button{
  /* margin-right: 10px; */
  font-size: 16px;
  font-weight: bold;
  padding: 5px 25px;
  color: #fff;
  background-color: #0072E1;
  border: none;
  border-radius:5px;
  cursor: pointer;
}
.nav-item-3 button:hover{
  font-weight: bold;
  /* padding: 5px 24px; */
  /* color: #fff; */
  background-color: #1f6ebd;
}
.nav-item-3 button a{
  font-weight: inherit;
}
/* Button Within Nav-Item-3 Ends Above */


/* Hamburgor Icon Within nav-item-3 */
.nav-item-3 > i{
  margin-block-start: 0;
  margin-block-end: 0;
  writing-mode: horizontal-tb;
  color: #fff;
  /* visibility: hidden; */
  display: none;
}

/* RWD for Nav Bar */
